# Virtual environments
.venv311/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Streamlit local state
.streamlit/
